html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}
		
#map
{
	height: 100%;
	width: 79%;
	float: right;
}

#content-window
{
    background-color: green;
	position: fixed;
    font-family: 'Helvetica';
    height: 100%;
    line-height: 30px;
    padding-left: 5px;
	padding-right: 5px;
    width: 270px;
	color: white;
}

#img 
{
max-width: 100%;
}

#content-header
{
	background-color: red;
	color: white;
	text-align: center;
}

#content-content
{
	background-color: green;
	text-align: center;
	color: white;
}