html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map
{
	height: 100%;
	width: 80%;
	float: right;
}

#nav{ width: 20%; text-align: center;}

#nav a:hover { background: #00CC99; color: white; }

.menu {
	width: auto;
	height: 100%;
	position: absolute;
	background: #00CC99;
	left: -240px;
}

.menu_icon {
	padding: 10px 20px;
	background: #E5DAC0;
	color: #98703E;
	cursor: pointer;
	float: right;
}

#menuToggle {
	display: none;
}

#menuToggle:checked ~ .menu {
	position: absolute;
	left: 0;
}
#content-window
{
    background-color: #00CC99;
	position: fixed;
    font-family: 'Helvetica';
    height: 100%;
    line-height: 30px;
    padding-left: 5px;
	padding-right: 5px;
    width: 20%;
}

#content-header
{
	background-color: #00CC99;
	color: white;
	text-align: center;
}

 #wrapper {
            height: 100%;
            width: 100%;
            overflow-y: auto;
          }
	

#content-content
{
	background-color: #00CC99;
	text-align: center;
	color: white;
}

#route-form
{
	position: absolute;
	display:block;
	left: 21%;
	top:10%;
	background-color: white;
}
